<body class="vh-100 d-flex align-items-center bgimage">

    <main class="container">
        <div class="row vh-100 align-items-center">
            
            <!-- Left Side: Branding & Info -->
            <section class="col-md-6 text-dark text-center d-flex flex-column justify-content-center">
                <h1 class="fw-bold mb-3 display-5 mt-5">Let's Travel the World</h1>
                <p class="fs-5">Plan your journeys effortlessly with our travel request system.</p>
            </section>

            <!-- Right Side: Login Form -->
            <section class="col-md-5 offset-md-1 p-4 rounded shadow-lg login">
                <h2 class="text-center text-black mb-3">Manager Login</h2>
                
                <!-- Login Form -->
                <form [formGroup] = "loginForm" (ngSubmit)="onLogin()">
                    
                    <!-- Email Input -->
                    <div class="mb-3">
                        <label for="email" class="form-label text-black">Email</label>
                        <input type="email" class="form-control bg-transparent text-black border-light" id="email"
                            placeholder="Enter email" required aria-label="Enter your email address" formControlName="username">
                    </div>

                    <!-- Password Input -->
                    <div class="mb-3">
                        <label for="password" class="form-label text-black">Password</label>
                        <input type="password" class="form-control bg-transparent text-black border-light" id="password"
                            placeholder="Enter password" required aria-label="Enter your password" formControlName="password">
                    </div>

                    <!-- Login Button -->
                    <button type="submit" class="btn btn-light w-100" aria-label="Click to log in">Login</button>

                </form>

            </section>

        </div>
    </main>

</body>